@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin:0px;
    padding: 0x;
    padding: 10px;
    font-family: 'Signika Negative', sans-serif!important;
}
.btn{
    background:white;
    outline: none;
    padding:14px;
    border-radius: 30px;
    border:1px solid brown;
    box-shadow: 2px 3px 3px grey;

}
.post{
    border:2px solid #cccccc;
    box-shadow: 2px 3px 3px #eeeeee;
    margin-top:40px;
    height:300px;
    border-radius: 10px;
    position: relative;
    background:white;
}
.post i{
    color:#1E90FF;
}
.heading{
    position: absolute;
    top:7%;
    left:5.5%;
    color:#4F34C9;
    font-size: 35px;
}
.no{
    text-align: center;
    font-size: 30px;
    color: grey;
    margin-top:12%;
}
.photo{
    position: absolute;
    width:130px;
    height:130px;
    background-repeat: no-repeat;
    background-size: contain;
    right:9%;
    top:20%;
    border-radius: 50px;
}
.details{
    position: absolute;
    top:25%;
    left:6%;
}
.name,.created{
    display: inline-block;
    margin-right:20px;
    color:#A0A0A0;
    font-weight: lighter;
}
.text{
    position: absolute;
    bottom:40%;
    left:6%;
}
.txt{
    display:inline-block;
    font-family: 'Lato', sans-serif;
}
.full{
    display: inline-block;
    margin-left:20px;
    background:#2ED573;
    border:none;
    color:white;
    border-radius: 2px;
    padding:5px;
}
.lnc{
    position: absolute;
    bottom:15%;
    left:6%;
}
@media only screen and (max-width:768px){
    .photo{
        width: 70px;
        height:70px;
        right:5%;
        top:7%;
    }
}@media only screen and (max-width:500px){
    .post{
        height:370px;
    }
    .photo{
        display: block;
        left:6%;
        top:30%;
    }
    .details{
        top:22%;
    }
    .full{
        display: block;
        margin-left: 0px;
    }
    .text{
        bottom:30%;
    }
    .lnc{
        bottom:10%;
    }
}
@media only screen and (max-width:390px){
    .post{
        height:430px;
    }
    .heading{
        font-size: 30px;
    }
}