.RichEditor-root{
    border-radius: 5px;
    border:1px solid grey;
    padding:10px;
    height:70vh;
    overflow-y: auto;
    width:90%;
    margin:auto;
}
.responsive{
    display: none;
}
.RichEditor-styleButton{
    cursor: pointer;
    display: inline;
    padding:5px;
    border-radius: 5px;
    margin-left:5px;
    background:#0080ff;
    color:white;
}
.RichEditor-styleButton:active{
    background: blue;
}
.RichEditor-controls{
    background-color: red;
    width:100%;
    height:60px;
}
@media only screen and (max-width:525px){
    .responsive{
        display: inline;
    }
    .RichEditor-styleButton{
        display:in-block;
        margin-top:20px;
    }
    .RichEditor-root{
        height:400px;
    }
}